@import "./colors.css";

.bioSection {
  display: grid;
  grid-gap: 20px 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
}

.profileImg {
  margin: 0 auto 40px;
  width: 250px;
  border-radius: 50%;
}

.bioDetails > h3 {
  margin-top: 0;
  font-size: 2em;
}
