@import "./colors.css";

.button {
  padding: 10px 20px;
  display: inline-block;
  background: none;
  color: var(--green);
  border: 2px solid var(--green);
  border-radius: 4px;
  transition: all .3s ease;
  cursor: pointer;
}

.button:hover, .button:active, .button:focus {
  background: var(--green);
  color: var(--white);
}
