@import './colors.css';

.form {
  margin-top: 60px;
}

.field {
  position: relative;
  margin: 20px auto 0;
}

.icon {
  position: absolute;
  top: 35px;
  left: 10px;
  margin-right: 10px;
  font-size: 18px;
  color: var(--green);
  transition: all .75s ease;
  z-index: 1;
}

label {
  margin-bottom: 5px;
  display: inline-block;
  color: var(--gray-light);
  transition: all .75s ease;
  z-index: 1;
}

label span {
  color: var(--red);
}

input, textarea {
  padding: 10px 5px 10px 0;
  width: 100%;
  border: 2px solid var(--gray-light);
  font-size: 14px;
  text-indent: 40px;
  transition: all .3s ease-in-out;
  outline: none;
}

.hasError {
  border-color: var(--red);
}

.noError {
  border-color: var(--green);
}

.errorText {
  margin-top: 5px;
  font-size: 12px;
  color: var(--red);
}
