@import './colors.css';

.field {
  position: relative;
  margin: 20px auto 0;
}

.icon {
  position: relative;
  top: 25px;
  left: 0;
  margin-right: 10px;
  font-size: 18px;
  color: var(--red);
  transition: all .75s ease;
  z-index: 1;
}

label {
  position: absolute;
  top: 25px;
  left: 25px;
  color: var(--gray-light);
  transition: all .75s ease;
  z-index: 1;
}

input, textarea {
  padding: 10px 5px 10px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--light-gray);
  font-size: 14px;
}
