@import "./colors.css";

footer {
  padding-top: 15px;
  border-top: 2px solid var(--gray-dark);
}

.container {
  padding: 10px 40px 20px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  max-width: 1200px;
}

.icon {
  margin: 0 15px;
  font-size: 36px;
}
