@import "./colors.css";

body {
  background: var(--white);
}

p {
  color: var(--gray-light);
  line-height: 1.4;
}

a {
  color: var(--red);
  transition: all .3s ease;
}

a:hover, a:active, a:focus {
  color: var(--gray-light);
}
