@import "./colors.css";

.header {
  border-bottom: 2px solid var(--gray-dark);
}

.headerContainer {
  margin: 0 auto;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

.logo {
  transition: all .3s ease;
}

.logo:hover, .logo:active, .logo:focus {
  text-decoration: none;
}

.name {
  font-size: 2em;
  text-decoration: none;
}

.name:hover, .name:active, .name:focus {
  text-decoration: none;
}

.hiddenName {
  display: inline-block;
  font-size: .75em;
  width: 0;
}

.hiddenNameSpan {
  display: inline-block;
}

.logo:hover .hiddenName, .logo:active .hiddenName, .logo:focus .hiddenName {
}

.menuLink {
  display: inline-block;
  margin: 0 15px;
  transition: all .3s ease;
}

.menuLink:hover, .menuLink:active, .menuLink:focus {
  text-decoration: none;
}

@media (max-width:981px) {
  .menu {
    display: none;
  }
}
