.menuIconOpen, .menuIconClosed {
  position: relative;
  display: none;
}

.menuIconOpen > div > div, .menuIconClosed > div > div {
  margin: 6px 0;
  display: block;
  width: 34px;
  height: 3px;
  background: var(--gray-dark);
  transition: all .45s ease-in-out;
  cursor: pointer;
}

.menuIconOpen .topBar {
  transform: translateY(8px) rotate(45deg);
}

.menuIconOpen .middleBar {
  width: 0;
}

.menuIconOpen .bottomBar {
  transform: translateY(-10px) rotate(-45deg);
}

.mobileMenuOpen, .mobileMenuClosed {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 250px;
  height: 100%;
  background: var(--gray-light);
  z-index: 2;
}

.mobileMenuClosed {
  transform: translateX(250px);
  transition: transform .6s ease;
}

.mobileMenuOpen {
  transform: translateX(0px);
  transition: transform .6s ease;
}

.menuLink {
  color: red;
}

@media (max-width: 981px) {
  .menuIconOpen, .menuIconClosed, .mobileMenuOpen, .mobileMenuClosed {
    display: block;
  }
}

@media (max-width: 400px) {
  .mobileMenuOpen, .mobileMenuClosed {
    width: 180px;
  }

  .mobileMenuClosed {
    transform: translateX(180px);
  }  
}
