@import "./colors.css";

.repo {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid var(--gray-light);
}

.header {
  margin-top: 0;
  margin-bottom: 5px;
}

.updated {
  margin-bottom: 15px;
  font-size: 12px;
}

.description {
  line-height: 1.4;
}

.details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
}

.languages {
  display: grid;
  /* grid-template-rows: repeat(3, 1fr); */
}

.language {
  margin-bottom: 10px;
}

.language span {
  display: inline-block;
  font-size: 12px;
}

.metadata {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  align-items: center;
}

.metadata span {
  font-size: 12px;
}

.metadata svg {
  margin-right: 10px;
}

.metadata svg path {
  fill: var(--gray-light);
}

.button {
  grid-column-end: -1;
}
